<!DOCTYPE html>
<!--REGISTER FROM ADMIN SIDE-->
<html lang = 'en'>
<head>
    <title>Sign Up</title>
    <meta charset = 'UTF-8'>
    <meta name = "viewport" content = "width=device-width , initial-scale =1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #A7C7E7;
        }
        h1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;;
            color: blue;
        }
        h3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        input{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50%;
        }
        button#register{
            background-color: white; 
            padding: 10px 30px;
            border: 2px solid #111;
            transition-duration: 0.5s;
            font-weight: bold;

        }
        button#register:hover{
            background-color: black;
            border: 2px solid #ff96ad;
            color:#ff96ad;
            cursor: pointer;
        }
        
    </style>
</head>

<body>
    <form action = 'http://localhost:8080/save' method = 'POST'>
        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">CHINA TASTE 2</h1>
            <br /><hr class="w3-border-grey" style="margin:auto;width:40%">
            <div id = 'signup'>
                <br /><h3>Create Account</h3>
                <hr class="w3-border-grey" style="margin:auto;width:40%">

                <br /><h5>First Name</h5>
                <input type = 'text' name = 'firstName' placeholder = 'First Name' id = 'firstName' required>
                
                <br /><h5>Last Name</h5>
                <input type = 'text' name = 'lastName' placeholder = 'Last Name' id = 'lastName' required>

                <br /><h5>Email</h5>
                <input type = 'email' name = 'email' placeholder = 'email' id = 'email' required>

                <br /><h5>Create Password</h5>
                <input type = 'password' name = 'password' placeholder = 'Password' id = "Password" required>

                <br /><h5>Register As:</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="position" id="employeeCheck" value = "employee" checked>
                    <label class="form-check-label" for="employeeCheck">
                      Employee
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="position" id="adminCheck" value = "Administrator">
                    <label class="form-check-label" for="adminCheck">
                      Administrator
                    </label>
                  </div>            

            
                <br /> <button type = 'submit' id = 'register' onclick = 'writeToJSON()' >Register Account</button>
                
                <ul>
                    <br /><li><a href = './adminHome'>Back to Homepage</a></li>
                </ul>
            </div>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        function writeToJSON(fName, lName, email, password){
            fName.firname = document.getElementById("firstName").value;
            lName.lasname = document.getElementById("lastName").value;
            email.eEmail = document.getElementById("email").value;
            password.pswd = document.getElementById("password").value;
        }
    </script>
</body>
</html>