<!DOCTYPE html>
<!--TESTING PURPOSES TO SEE IF BUTTON WORKS-->
<html>
<head>
<title>redirecting...</title>
<meta http-equiv="refresh" content="1; URL=./" /></head>

<body>
    <p>Please log in</p>
    <div>
        <li><a href = './'>If page doesn't redirect back to login in 3 seconds, click here</a></li>
    </div>
</body>

</html>
